
            <div>[menu]</div>
        	<!-- Section -->
            <section class="bg bg1 page-section fixed-height-small pt-0 pb-0 bg-dark-alfa-30" data-background="images/full-width-images/section-bg-12.jpg" style="background-image: url(&quot;images/full-width-images/section-bg-12.jpg&quot;);">
                <div class="js-height-parent container relative" style="height: 600px;">
                    
                    <div class="home-content">
                        <div class="home-text">

                            
                            <h2 class="hs-line-14 font-alt mb-50 mb-xs-30 editContent">
                                Contacte
                            </h2>
                            
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- End Section -->
            
            
            
            
            <!-- Google Map -->
            <section class="page-section pt-0 pb-0" id="location">
                <div class="google-map">
                    <div data-lat="41.5829279" data-lng="1.6094105" data-icon="[base_url]theme/theme/images/map-marker.png" id="map-canvas" style="position: relative; overflow: hidden;"></div>
                </div>
            </section>
            <!-- End Google Map -->
            
            
            <div>[response]</div>                        
            <div>[contacto]</div>
        
        <div class="alt-service-item mt-0 mb-20">                          
		      <h3 class="alt-services-title font-alt">ORGANITZA</h3>
		      
		       <a href="http://www.fagepi.net/">FAGEPI</a><br/>
		       <a href="http://www.firaigualada.org/">FIRA D'IGUALADA</a><br/>
		      	      
		      <h3 class="alt-services-title font-alt">EN CONVENI AMB</h3>
		      
		       <a href="http://www.igualada.cat/">AJUNTAMENT D'IGUALADA</a><br/>
		      	      
		      <h3 class="alt-services-title font-alt">AMB EL PATROCINI DE</h3>
		      
		       <a href="http://www.shimaseiki.com/">SHIMA SEIKI</a><br/>
		       <a href="http://www.layret.com/">LAYRET</a> / <a href="http://www.stoll.com/stoll-startseite-en">STOLL</a><br/>
		      	      
		      <h3 class="alt-services-title font-alt">COL·LABORADORS</h3>
		      
		       <a href="https://www.modacc.cat/es/">MODACC</a><br/>
		       <a href="http://www.modaes.es/">MODAES.ES</a><br/>
		       <a href="http://www.atp.pt/">ASSOCIAÇÃO TÊXTIL E VESTUÁRIO DE PORTUGAL</a><br/>
		       <a href="https://www.selectivamoda.com/">ASSOCIAÇÃO SELECTIVA MODA</a><br/>
		       <a href="http://es.fashionjobs.com/#rl">FASHION JOBS</a><br/>
		      	      
		      <h3 class="alt-services-title font-alt">AMB EL SUPORT DE</h3>
		      
		       <a href="http://accio.gencat.cat/cat/">ACCIÓ</a><br/>
		       <a href="http://www.terrassa.cat/es/acte-associacio-de-colectivitats-textils-europees">ACTE ESPANYA</a><br/>
		       <a href="http://www.agrupaciontextil.org/">AGRUPACIÓN ESPAÑOLA DEL GÉNERO DE PUNTO</a><br/>
		       <a href="http://www.modasosteniblebcn.org/?lang=es">ASSOCIACIÓ MODA SOSTENIBLE BARCELONA</a><br/>
		       <a href="http://accio.gencat.cat/cat/estrategia-empresarial/clusters/catalunya-clusters/">CATALONIA CLÚSTERS</a><br/>
		       <a href="http://www.ccam.cat/">CCAM (Consorci de Comerç, Artesania i Moda de Catalunya)</a><br/>
		       <a href="http://www.diba.cat">DIPUTACIÓ DE BARCELONA</a><br/>
		       <a href="http://www.fitex.es/">FITEX</a><br/>
		       <a href="http://web.gencat.cat/ca/inici/">GENERALITAT DE CATALUNYA</a><br/>
	           <a href="https://www.iguana.cat/">IGUANA COMUNICACIONS</a><br/>
	           <a href="http://www.servisimo.es/">SERVISIMÓ</a>
</div>